/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB     &kp SQT  &kp COMMA  &kp PERIOD  &kp P             &kp Y          &kp F        &kp G            &kp C     &kp R  &kp L  &kp BSPC
&lt 1 CLCK  &kp A    &kp O      &kp E       &kp U             &kp I          &kp D        &kp H            &kp T     &kp N  &kp S  &kp MINUS
&lt 2 ESC   &kp Z    &kp Q      &kp J       &kp K             &kp X          &kp B        &kp M            &kp W     &kp V  &kp Z  &kp QUESTION
                                &kp CAPS    &kp LEFT_CONTROL  &lt 3 SPACE    &lt 4 ENTER  &kp RIGHT_SHIFT  &kp LALT
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB           &trans  &trans  &trans    &trans            &trans         &trans   &trans          &kp UP_ARROW  &trans     &trans  &kp BSPC
&lt 1 LEFT_SHIFT  &trans  &trans  &trans    &trans            &trans         &trans   &kp LEFT_ARROW  &kp DOWN      &kp RIGHT  &trans  &trans
&lt 2 ESC         &trans  &trans  &trans    &trans            &trans         &trans   &trans          &trans        &trans     &trans  &trans
                                  &kp LGUI  &kp LEFT_CONTROL  &lt 3 SPACE    &kp RET  &trans          &kp RALT
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB           &trans  &trans  &trans    &trans  &trans         &kp PLUS      &kp N1  &kp N2    &kp N3  &trans  &kp BSPC
&lt 1 LEFT_SHIFT  &trans  &trans  &trans    &trans  &trans         &kp MINUS     &kp N4  &kp N5    &kp N6  &trans  &trans
&lt 2 ESC         &trans  &trans  &trans    &trans  &trans         &kp ASTERISK  &kp N7  &kp N8    &kp N9  &kp N0  &kp SLASH
                                  &kp LGUI  &trans  &lt 3 SPACE    &kp RET       &trans  &kp RALT
            >;
        };

        layer_3 {
            bindings = <
&trans            &trans  &trans  &kp C_VOLUME_UP  &kp C_PLAY_PAUSE  &kp COLON      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LEFT_BRACE  &kp RIGHT_BRACE   &kp EQUAL        &kp AT_SIGN
&lt 1 LEFT_SHIFT  &trans  &trans  &kp C_VOL_DN     &kp C_AC_SEARCH   &trans         &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp LESS_THAN   &kp GREATER_THAN  &kp EXCLAMATION  &kp TILDE
&lt 2 ESC         &trans  &trans  &trans           &trans            &trans         &kp SLASH             &kp BACKSLASH          &kp HASH        &kp DOLLAR        &kp PERCENT      &kp AMPERSAND
                                  &trans           &trans            &lt 3 SPACE    &trans                &trans                 &trans
            >;
        };

        layer_4 {
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6    &kp F7  &kp F8             &kp F9      &kp F10  &kp F11  &kp F12
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kt RIGHT_SHIFT    &kt DELETE  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp RIGHT_COMMAND  &kp DEL     &trans   &trans   &trans
                        &trans  &trans  &trans    &trans  &trans             &trans
            >;
        };
    };
};

&led_strip { chain-length = <27>; };
